.footer{
    margin-top: 5rem;
    .color-space-container{

        background-color: map-get($colores, color-azul-rosa );
        height: 200px;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-around;


        .img-container-footer{

            .img-hello-footer{

                height: 90px;


            }

        }

        .text-container{

            .p-footer{

                font-family: map-get($fuentes, fuente-poppins );
                font-size: 24px;
                text-align: center;
                font-weight: 600;

            }

        }

    }
   
    .list-container{

        display: flex;
        justify-content: center;
        padding: 1.3rem;

        .ul-world{
            margin: 1rem;
            list-style: none;
            
            .li-world-tittle{
                font-family: map-get($fuentes, fuente-poppins );
                font-size: 18px;
                font-weight: 600;


            }

            .li-world{
                font-family: map-get($fuentes, fuente-poppins );
                font-size: 14px;
                margin-top: 0.4rem;
                margin-bottom: 0.4rem;

            }
        }

        .ul-social{

            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem;
            .social{
                text-decoration: none;
                color: black;
                font-weight: 600;
                font-family: map-get($fuentes, fuente-poppins );
                margin-bottom: 0.5rem;

            }
        }

    }


}