$colores:(

    color-rosa-1: #E6BCCD,
    color-rosa-2: rgb(249, 218, 246),
    color-rosa-3: rgb(244, 196, 224),
    color-azul-rosa: rgb(165, 81, 208),
    color-blanco: white,
    color-negro: black,
    color-hello-kitty: rgb(195, 1, 1),
    color-melody: rgb(201, 126, 139),
    color-cinnamoroll: rgb(110, 197, 232),
    color-keroppi: rgb(0, 158, 0),
    color-pompom: rgb(226, 226, 0),
    color-pochacco: rgb(77, 159, 191),
    color-little: rgb(3, 168, 234)
    

);


$fuentes:(

    fuente-poppins: ('Poppins', sans-serif)

)


    

