* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 60px;
  background-color: white;
  position: fixed;
  width: 100%;
  padding-top: 0.9rem;
}
.header .nav-bar {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  height: 100%;
}
.header .nav-bar .nav-right {
  display: flex;
  align-items: center;
  list-style: none;
}
.header .nav-bar .nav-right .li-item-r {
  margin-right: 0.3rem;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  border: 1px solid black;
  padding: 0.5rem;
  font-size: 12px;
  transition: 0.3s;
}
.header .nav-bar .nav-right .li-item-r:hover {
  background-color: rgb(165, 81, 208);
  color: white;
}
.header .nav-bar .nav-left {
  display: flex;
  align-items: center;
  list-style: none;
}
.header .nav-bar .nav-left .li-item-home .sanrio-logo {
  width: 125px;
  transition: 0.3s;
}
.header .nav-bar .nav-left .li-item-home .sanrio-logo:hover {
  width: 135px;
}
.header .nav-bar .nav-left .li-item-search {
  margin-left: 3rem;
  font-family: "Poppins", sans-serif;
  height: 30px;
  width: 300px;
  padding-left: 0.4rem;
  font-size: 14px;
}

.welcome {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
.welcome .article-welcome {
  height: 450px;
  width: 745px;
  background-color: rgb(249, 218, 246);
}
.welcome .article-welcome .title-welcome {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome .article-welcome .title-welcome .h1-welcome {
  font-family: "Poppins", sans-serif;
  color: rgb(165, 81, 208);
  padding-bottom: 1rem;
  font-size: 36px;
}
.welcome .article-welcome .title-welcome .p-welcome {
  font-family: "Poppins", sans-serif;
  color: rgb(165, 81, 208);
  padding-top: 1rem;
  border-top: 2px solid rgb(165, 81, 208);
  font-size: 16px;
}
.welcome .article-welcome .btn-container {
  display: flex;
  justify-content: center;
}
.welcome .article-welcome .btn-container .btn-welcome {
  text-decoration: none;
  color: rgb(165, 81, 208);
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding: 0.5rem;
  height: 45px;
  width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 0.2px solid black;
}
.welcome .img-welcome .hello-kitty-size {
  width: 394px;
  padding: 0.3rem;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.general {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.general .general-article {
  display: flex;
}
.general .general-article .img-general-container .img-general {
  height: 460px;
}
.general .general-article .text-general-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 460px;
  width: 450px;
  background-color: rgb(165, 81, 208);
}
.general .general-article .text-general-container .h2-general {
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-bottom: 2px solid rgb(249, 218, 246);
  color: #E6BCCD;
  padding-bottom: 1rem;
}
.general .general-article .text-general-container .p-general {
  font-family: "Poppins", sans-serif;
  color: #E6BCCD;
  padding-top: 1rem;
}
.general .general-article .text-general-container .btn-container-general {
  margin-top: 2rem;
}
.general .general-article .text-general-container .btn-container-general .btn-general {
  text-decoration: none;
  color: rgb(165, 81, 208);
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding: 0.5rem;
  height: 45px;
  width: 190px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 0.2px solid black;
}

/*# sourceMappingURL=styles.css.map */
